[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Nazza01/ft_printf.git
[submodule "libft"]
	path = libft
	url = git@github.com:Nazza01/libft.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:Nazza01/so_long.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:Nazza01/minitalk.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Nazza01/get_next_line.git
[submodule "Philo"]
	path = Philo
	url = git@github.com:Nazza01/Philo.git
[submodule "CPP-Modules"]
	path = CPP-Modules
	url = git@github.com:Nazza01/CPP-Modules.git
